<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Licenseplatenumber')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-licenseplatenumber" data-rule="required" class="form-control" name="row[licenseplatenumber]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Models_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-models_name" data-rule="required" class="form-control" name="row[models_name]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Kilometres')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-kilometres" data-rule="required" class="form-control" name="row[kilometres]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Store_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-store_id" data-rule="required" data-source="store/index" class="form-control selectpage" name="row[store_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Newpayment')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-newpayment" data-rule="required" class="form-control" name="row[newpayment]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Monthlypaymen')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-monthlypaymen" data-rule="required" class="form-control" name="row[monthlypaymen]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Periods')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-periods" data-rule="required" class="form-control" name="row[periods]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Totalprices')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-totalprices" data-rule="required" class="form-control" name="row[totalprices]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Bond')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-bond" data-rule="required" class="form-control" step="0.01" name="row[bond]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Tailmoney')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-tailmoney" data-rule="required" class="form-control" step="0.01" name="row[tailmoney]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Drivinglicenseimages')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-drivinglicenseimages" class="form-control" size="50" name="row[drivinglicenseimages]" type="text">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-drivinglicenseimages" class="btn btn-danger plupload" data-input-id="c-drivinglicenseimages" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="true" data-preview-id="p-drivinglicenseimages"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-drivinglicenseimages" class="btn btn-primary fachoose" data-input-id="c-drivinglicenseimages" data-mimetype="image/*" data-multiple="true"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-drivinglicenseimages"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-drivinglicenseimages"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Vin')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-vin" class="form-control" name="row[vin]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Engine_number')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-engine_number" class="form-control" name="row[engine_number]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Expirydate')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-expirydate" class="form-control" name="row[expirydate]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Annualverificationdate')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-annualverificationdate" class="form-control" name="row[annualverificationdate]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Carcolor')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-carcolor" class="form-control" name="row[carcolor]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Aeratedcard')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-aeratedcard" class="form-control" name="row[aeratedcard]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Volumekeys')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-volumekeys" class="form-control" name="row[volumekeys]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Parkingposition')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-Parkingposition" class="form-control" name="row[Parkingposition]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Car_images')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-car_images" class="form-control" size="50" name="row[car_images]" type="text">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-car_images" class="btn btn-danger plupload" data-input-id="c-car_images" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="true" data-preview-id="p-car_images"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-car_images" class="btn btn-primary fachoose" data-input-id="c-car_images" data-mimetype="image/*" data-multiple="true"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-car_images"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-car_images"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Shelfismenu')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-shelfismenu" class="form-control" name="row[shelfismenu]" type="number" value="1">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Vehiclestate')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-vehiclestate" class="form-control" name="row[vehiclestate]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Note')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-note" class="form-control" name="row[note]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status_data')}:</label>
        <div class="col-xs-12 col-sm-8">
            
            <div class="radio">
            {foreach name="statusDataList" item="vo"}
            <label for="row[status_data]-{$key}"><input id="row[status_data]-{$key}" name="row[status_data]" type="radio" value="{$key}" {in name="key" value="for_the_car"}checked{/in} /> {$vo}</label> 
            {/foreach}
            </div>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Modelsimages')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-modelsimages" class="form-control" size="50" name="row[modelsimages]" type="text">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-modelsimages" class="btn btn-danger plupload" data-input-id="c-modelsimages" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="true" data-preview-id="p-modelsimages"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-modelsimages" class="btn btn-primary fachoose" data-input-id="c-modelsimages" data-mimetype="image/*" data-multiple="true"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-modelsimages"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-modelsimages"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Guide_price')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-guide_price" class="form-control" step="0.01" name="row[guide_price]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Models_main_images')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-models_main_images" class="form-control" size="50" name="row[models_main_images]" type="text">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-models_main_images" class="btn btn-danger plupload" data-input-id="c-models_main_images" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="true" data-preview-id="p-models_main_images"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-models_main_images" class="btn btn-primary fachoose" data-input-id="c-models_main_images" data-mimetype="image/*" data-multiple="true"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-models_main_images"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-models_main_images"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Popularity')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-popularity" data-rule="required" class="form-control" name="row[popularity]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Weigh')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-weigh" data-rule="required" class="form-control" name="row[weigh]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Car_licensedate')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-car_licensedate" class="form-control" name="row[car_licensedate]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Emission_standard')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-emission_standard" data-rule="required" class="form-control" name="row[emission_standard]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Emission_load')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-emission_load" class="form-control" name="row[emission_load]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Speed_changing_box')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-speed_changing_box" class="form-control" name="row[speed_changing_box]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('The_transfer_record')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-the_transfer_record" class="form-control" name="row[the_transfer_record]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('License_plate')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-license_plate" class="form-control" name="row[license_plate]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Daypaymen')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-daypaymen" class="form-control" name="row[daypaymen]" type="number">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
