<style>
    .table th, .table td {
        text-align: center;
        vertical-align: middle !important;
    }

    .footer {
        width: 100%;
        border: 1px solid red;
    }
</style>


<form id="buyquoted_price-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action=""
      data-area='["600px","400px"]'>




    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th>
                <!--<input type="checkbox" id="inlineCheckbox1" value="option1">-->
            </th>
            <th>ID</th>
            <th>报价用户昵称</th>
            <th>报价用户头像</th>
            <th>报价用户手机号</th>
            <th>报价价格（元）</th>
            <th>报价时间</th>

        </tr>
        </thead>
        <tbody>
        {volist name="buyquoted" id="vo"}

        <tr>
            <td>
                <input type="radio" class="inlineCheckbox2" name="id" value="{$vo.id}">
            </td>
            <td>{$vo.id}</td>
            <td>{$vo.user.nickname}</td>
            <td>{$vo.user.avatar}</td>
            <td>{$vo.user.mobile}</td>
            <td>{$vo.money}</td>
            <td>{$vo.quotationtime}</td>

        </tr>

        {/volist}


        </tbody>


    </table>

    <!-- <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8" style="margin-left:35%">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('确定')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div> -->


</form>


</div>
