<div class="panel panel-default panel-intro">
        <div class="panel-heading">
            <div class="panel-lead"><em>报价中心</em></div>
            <ul class="nav nav-tabs" >
                <li class="active text-center"><a href="#my_quote" data-toggle="tab" style="font-weight: bold">我的报价&nbsp;</a></li>
                <li><a href="#offer_received" data-toggle="tab" style="font-weight: bold" class="text-center" >收到报价&nbsp;</a></li>
                
            </ul>
        </div>
        <div class="panel-body">
            <div id="myTabContent" class="tab-content">
                <!--我的报价-->
    
                <div class="tab-pane fade active in" id="my_quote">
                    <div id="toolbar1" class="toolbar">
    
                        <a href="javascript:;" class="btn btn-primary btn-refresh" title="{:__('Refresh')}" ><i class="fa fa-refresh"></i> </a>
                        
                    </div>
    
                    <table id="myQuote" class="table table-striped table-bordered table-hover table-nowrap"
                           data-operate-edit="{:$auth->check('merchant/quoted/edit')}"
                           data-operate-del="{:$auth->check('merchant/quoted/del')}"
                           width="100%">
                    </table>
                </div>
    
    
                <!--收到报价-->
    
                <div class="tab-pane fade" id="offer_received">
                    <div id="toolbar2" class="toolbar">
    
                        <a href="javascript:;" class="btn btn-primary btn-refresh" title="{:__('Refresh')}" ><i class="fa fa-refresh"></i> </a>
                        
                    </div>
    
                    <table id="offerReceived" class="table table-striped table-bordered table-hover table-nowrap"
                           data-operate-edit="{:$auth->check('merchant/quoted/edit')}"
                           data-operate-del="{:$auth->check('merchant/quoted/del')}"
                           width="100%">
                    </table>
                </div>
            </div>
        </div>
    </div>
    