<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Models_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-models_name" data-rule="required" class="form-control" name="row[models_name]" type="text" value="{$row.models_name}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Kilometres')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-kilometres" class="form-control" name="row[kilometres]" type="number" value="{$row.kilometres}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Store_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-store_id" data-rule="required" data-source="store/index" class="form-control selectpage" name="row[store_id]" type="text" value="{$row.store_id}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('User_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-user_id" data-rule="required" data-source="user/user/index" data-field="nickname" class="form-control selectpage" name="row[user_id]" type="text" value="{$row.user_id}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Shelfismenu')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-shelfismenu" class="form-control" name="row[shelfismenu]" type="number" value="{$row.shelfismenu}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('License_plate')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-license_plate" class="form-control" name="row[license_plate]" type="text" value="{$row.license_plate}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Phone')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-phone" data-rule="required" class="form-control" name="row[phone]" type="text" value="{$row.phone}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Parkingposition')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-parkingposition" data-rule="required" class="form-control" name="row[parkingposition]" type="text" value="{$row.parkingposition}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Brand_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-brand_id" data-rule="required" data-source="brand/index" class="form-control selectpage" name="row[brand_id]" type="text" value="{$row.brand_id}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Store_description')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-store_description" class="form-control" name="row[store_description]" type="text" value="{$row.store_description}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Guide_price')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-guide_price" data-rule="required" class="form-control" step="0.01" name="row[guide_price]" type="number" value="{$row.guide_price}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Emission_standard')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-emission_standard" class="form-control" name="row[emission_standard]" type="number" value="{$row.emission_standard}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Factorytime')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-factorytime" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[factorytime]" type="text" value="{$row.factorytime|datetime}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Car_licensetime')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-car_licensetime" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[car_licensetime]" type="text" value="{$row.car_licensetime|datetime}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Browse_volume')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-browse_volume" data-rule="required" class="form-control" name="row[browse_volume]" type="number" value="{$row.browse_volume}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Brand_car_series')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-brand_car_series" class="form-control" name="row[brand_car_series]" type="text" value="{$row.brand_car_series}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Transmission_case')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-transmission_case" class="form-control" name="row[transmission_case]" type="text" value="{$row.transmission_case}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Displacement')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-displacement" class="form-control" name="row[displacement]" type="text" value="{$row.displacement}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
